body {
    /* É possivel definir usando uma única propriedade = background: color image repeat position/size */
    background: url(./imagens/bg-mobile.jpg) no-repeat top center / cover; 
}

#container {
    width: 360px; /* Largura total da tela */
    border: 1px solid red; /* Borda do container */
    margin:auto; /* Centraliza o container horizontalmente */
    
}

#profile {
    text-align:center; /* Centraliza o conteúdo do perfil */
} 

#profile img {
    display:block; /* Remove o espaço abaixo da imagem */
    width: 112px; 
    margin: auto; /* Centraliza a imagem do perfil */
    
}