* {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no tamanho total do elemento */
}

body {
    /* É possivel definir usando uma única propriedade = background: color image repeat position/size */
    background: url(./imagens/bg-mobile.jpg) no-repeat top center / cover; 
}

body * /* para aplicar o estilo a todos os elementos dentro do body */{
    font-family: 'Inter', sans-serif;
    color: #FFFFFF; /* Cor do texto */
}

#container {
    width: 360px; /* Largura total da tela */
    border: 1px solid purple none; /* Borda roxa */
    margin: 56px auto 0px auto; /* Margem pra todos os lados*/
}

#profile {
    text-align:center; /* Centraliza o conteúdo do perfil */
    padding: 24px; /* Preenchimento interno do perfil */
} 

#profile img {
    width: 112px; 
}

#profile p {
    font-weight: 500; /* Peso da fonte */
    line-height: 24px; /* Altura da linha */
    margin-top: 8px; /* Margem superior do @May-mqy */
}

/*links */
ul {
    list-style: none;

    display: flex; /*adaptavel */
    flex-direction: column; /*coluna flexivel */
    gap: 16px; /* Espaço entre os elementos*/
}

ul li a{
    /*border: 1px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px; 

    background: rgba(255, 255, 255, 0.1); /*quarta propriedade é a transparencia */
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px; /*arredonda */

    backdrop-filter: bluer(4px);
}

